<div class="page-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Department</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Code</mat-label>
              <input matInput formControlName="code" placeholder="DEPT001">
              <mat-error *ngIf="f.code.hasError('required')">Code is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="Marketing Department">
              <mat-error *ngIf="f.name.hasError('required')">Name is required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" rows="3"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Company</mat-label>
              <mat-select formControlName="companyId" (selectionChange)="onCompanyChange($event.value)">
                <mat-option *ngFor="let company of companies" [value]="company.id">
                  {{ company.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.companyId.hasError('required')">Company is required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Parent Department</mat-label>
              <mat-select formControlName="parentDepartmentId">
                <mat-option [value]="null">None</mat-option>
                <mat-option *ngFor="let dept of departments" [value]="dept.id">
                  {{ dept.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Manager ID</mat-label>
              <input matInput formControlName="managerId" placeholder="Optional">
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex gap-2 mt-3">
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>save</mat-icon>
            Save
          </button>
          <button mat-raised-button type="button" (click)="cancel()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

