<div class="blank-layout-container justify-content-center align-items-center">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a
            >
              <img
                src="/images/angular_gradient.png"
                class="align-middle m-2"
                alt="logo"
                height="100"
                width="100"
              />
            </a>
          </div>

          <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
            >Username
            </mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="email"/>
              <mat-hint
                *ngIf="f['email'].touched && f['email'].invalid"
                class="m-b-16 error-msg"
              >
                <div
                  class="text-error"
                  *ngIf="f['email'].errors && f['email'].errors['required']"
                >
                  Name is required.
                </div>
                <div
                  class="text-error"
                  *ngIf="f['email'].errors && f['email'].errors['minlength']"
                >
                  Name should be 6 character.
                </div>
              </mat-hint>
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
            >Password
            </mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password"/>
              <mat-hint
                *ngIf="f['password'].touched && f['password'].invalid"
                class="m-b-16 error-msg"
              >
                <div
                  class="text-error"
                  *ngIf="
                      f['password'].errors && f['password'].errors['required']
                    "
                >
                  Password is required.
                </div>
              </mat-hint>
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <br/>
              <a
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
              >Forgot Password ?</a
              >
            </div>
            <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid">
              Sign In
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
          >
            <a
              class="text-decoration-none text-primary f-w-500 f-s-14">
              Create an account</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
